body {
	width: 80%;
	margin: auto;
	padding: auto;
}

img.pages {
	display: block;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 5px;
}

img.home {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
}

div.redirect {
	display: inline;
	width: 100px;
	height: 500px;
	background-color: yellow;
}


#footer {
    position: fixed;
    
    background-color: #333;
    width: 80%;
    height: 50px;
    text-align: center;
    margin: auto;
    padding: auto;
}

ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.menu {
    float: right;
}

li.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}




ul#body {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

li.body {
    float: left;
    width: 25%;
}

li.body a {
    display: block;
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 100% 16px;
    text-decoration: none;
}

li.body a:hover {
    color: black;
}

li#body_1 a:hover {
    background-color: #FC3168;
}
li#body_2 a:hover {
    background-color: #33F793;
}
li#body_3 a:hover {
    background-color: #FBC600;
}
li#body_4 a:hover {
    background-color: #2FC7F8;
}

.changeColor {
    margin-top: 50px;
    float: right;
}

.changeColor button {
    height: 70px;
    width: 85px;
    margin-bottom: 3px;
    margin-top: 4px;
}

div#quoteBox {
    background-color: gray;
    float: left;
    height: 50px;
    display: inline;
    width: 50%;
    border: 5px solid;
}