h1 {
    text-align: center;
    font-size: 50px;
}

h3 {
	color: white;
	text-decoration: underline;
	text-align: center;
}

body {
	width: 80%;
	float: fixed;
	margin: auto;	
	padding: auto;
	background-color: black;
}

div {
	padding: 5px 20px 10px 20px;
	margin-bottom: 10px;
	border-radius: 25px;
}

#header {
	padding: 0px 0px 0px 0px;
	background-color: #696969;
}

#perInfo, #hobbies, #quotes, #routine {
	background-color: #A9A9A9;

}

#myself, #favLinks, #achi, #education {
	background-color: #DCDCDC;
}

#footer {
	background-color: #696969;
	text-align: center;
	
}

table {
	margin: auto;
	padding: auto;
	border-style: double;
	border-color: blue;
}